{% extends 'admin/layout.twig' %}

{% block title %}{% trans 'Dashboard' %}{% endblock %}

{% block documentready %}
	$(IndigoAdmin).on('unityready', function() {
		IndigoAdmin.displayNofitication('{{ current_user.username }}', '{% trans 'Logged in successfully.' %}', 'https://secure.gravatar.com/avatar/{{ current_user.email | md5 }}?s=50');
	});
{% endblock %}

{% block content %}
	<h2>{% trans 'Dashboard' %} <small>{% trans 'Overview of your site' %}</small></h2>
	<p class="lead">{% trans 'You can see the most important informations from all of your installed modules here.' %}</p>

	<div class="row">
		{% for widget in widgets %}
			<div class="col-sm-6">
				{{ widget }}
			</div>
		{% else %}
			<p class="col-sm-12 text-muted">{% trans 'You have no modules installed which have widgets.' %}</p>
		{% endfor %}
	</div>
{% endblock %}