<div class='input-group datetime'>
	<input type="text" class="form-control" data-format="YYYY-MM-DD HH:mm:ss" {{ element.getAttributes()|attr }} value="{{ element.getValue().format('mysql') }}">

	<span class="input-group-addon">
		<span data-icon-element="" class="fa fa-calendar"></span>
	</span>
</div>