{% extends 'admin/layout.twig' %}

{% set item = module_name[0] %}

{% block content %}

<h2>{{ title }} <small>#{{ model.id }}</small></h2>

{% include 'form.twig' %}

{% endblock %}

{% block documentready %}
	$('select').selectpicker();
	IndigoAdmin.addProxyButton('{% trans 'Save' %}', 'glyphicon glyphicon-save', '#form-button-save');
	IndigoAdmin.addFastButton('{% trans 'Back' %}', 'glyphicon glyphicon-arrow-left', '{{ url }}/view/{{ model.id }}');
{% endblock %}