{% extends 'admin/layout.twig' %}

{% set thing = module_name[1] %}

{% block title %}{% filter capitalize %}{% trans %}Edit {{ thing }}{% endtrans %}{% endfilter %}{% endblock %}

{% block content %}

<h2>{{ block('title') }} <small>#{{ model.id }}</small></h2>

{% include 'form.twig' %}

{% endblock %}

{% block documentready %}
	$('select').selectpicker();
	IndigoAdmin.addProxyButton('{% trans 'Save' %}', 'glyphicon glyphicon-save', '#form-button-save');
	IndigoAdmin.addFastButton('{% trans 'Back' %}', 'glyphicon glyphicon-arrow-left', '{{ uri }}');
{% endblock %}