<div class='input-group date'>
	<input type="text" class="form-control" data-format="YYYY-MM-DD" {{ attributes|attr }} value="{{ value.format('mysql_date') }}">

	<span class="input-group-addon">
		<span data-icon-element="" class="fa fa-calendar"></span>
	</span>
</div>