<div class='input-group datetime'>
	<input type="text" class="form-control" data-format="YYYY-MM-DD HH:mm" {{ attributes|attr }} value="{{ value }}">

	<span class="input-group-addon">
		<span data-icon-element="" class="fa fa-calendar"></span>
	</span>
</div>