<div class='input-group date'>
	<input type="text" class="form-control" data-format="YYYY-MM-DD" {{ element.getAttributes()|attr }} value="{{ element.getValue().format('mysql_date')|default(value) }}">

	<span class="input-group-addon">
		<span data-icon-element="" class="fa fa-calendar"></span>
	</span>
</div>