<div class="form-group">
	<label for="{{ element.getAttribute('id') }}" class="col-sm-2 control-label">{{ element.getLabel() }}</label>
	<div class="col-sm-10">
		{% include 'admin/form/' ~ getFormElementType(element) ~ '.twig' %}
	</div>
</div>