{% if element is empty %}
	<i>{% trans 'There are no options' %}</i>
{% else %}
	<select {{ element.getAttributes()|attr }} {% if element|length > 6 %}data-live-search="true"{% endif %}>
		{% for item in element %}
			<option value="{{ item.getValue() }}">{{ item.getLabel() }}</option>
		{% endfor %}
	</select>
{% endif %}