{% if options is empty %}
	<i>{% trans 'There are no options' %}</i>
{% else %}
	<select {{ attributes|attr }} {% if options|length > 6 %}data-live-search="true"{% endif %}>
		{% for key, item in options %}
			<option value="{{ key }}" {% if key in value or key is sameas(value) %}selected{% endif %}>{{ item }}</option>
		{% endfor %}
	</select>
{% endif %}