{% if element is empty %}
	<i>{% trans 'There are no options' %}</i>
{% else %}
	{% set attributes = element.getAttributes() %}
	{% if element|length > 6 %}
		{% set attributes = attributes|merge({"data-live-search": "true"}) %}
	{% endif %}

	<select {{ element.getAttributes()|attr }}>
		{% for item in element %}
			<option {{ item.getAttributes()|attr }}>{{ item.getLabel() }}</option>
		{% endfor %}
	</select>
{% endif %}