<select {{ attributes|attr }}>
	{% for key, item in options %}
		<option value="{{ key }}" {% if key in value or key is same as(value) %}selected{% endif %}>{{ item }}</option>
	{% endfor %}
</select>