<form action="{{ action|default(current_url()) }}" class="form-horizontal" method="post" role="form">
	<div class="panel panel-{{ request().action == 'create' ? 'success' : 'info' }}">
		<div class="panel-heading">
			<div class="panel-title">
				{% filter capitalize %}{% trans %}{{ item }} details{% endtrans %}{% endfilter %}
			</div>
		</div>
		<div class="panel-body">
			{% for element in form %}
				{% if element is fieldset %}
					{% set template = 'fieldset' %}
				{% else %}
					{% set template = 'element' %}
				{% endif %}

				{% include 'admin/form/' ~ template ~ '.twig' with {'element': element} only %}
			{% endfor %}
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-success" id="form-button-save"><span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}</button>
		</div>
	</div>
</form>