{% extends 'frontend/layout.twig' %}

{% block title %}{% trans 'Not found' %}{% endblock %}

{% block content %}

<div class="container">
	<h2 class="http">{% trans 'Not found' %}</h2>
	<div class="http404">404</div>
</div>

{% endblock %}