{% extends 'frontend/layout.twig' %}

{% block title %}{% trans 'Welcome!' %}{% endblock %}

{% block content %}

<div class="brand-jumbo jumbotron">
	<div class="container">
		<h1>{% trans 'Welcome!' %}</h1>
		<p>{% trans 'You have successfully installed Indigo Base package.' %}</p>
		<p><a href="#" class="btn btn-lg btn-primary">{% trans 'Read the Docs' %}</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>{% trans 'Getting Started' %}</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, iste eligendi quaerat accusantium omnis molestias! Quis, fugit, qui tempore totam iure atque facilis reiciendis incidunt pariatur dolorum unde doloribus cum.</p>
		</div>
		<div class="col-md-4">
			<h2>{% trans 'Learn' %}</h2>
			<p>Laudantium, soluta, commodi, pariatur maxime illum nihil error minus vero in quod fuga eligendi sed ex possimus rerum delectus harum? Magnam, necessitatibus iure ipsa neque esse sed nulla sit nostrum!</p>
		</div>
		<div class="col-md-4">
			<h2>{% trans 'Contribute' %}</h2>
			<p>Eveniet, necessitatibus, id at nemo magnam enim error tempora corrupti sapiente magni pariatur repellat reprehenderit harum quaerat deserunt asperiores omnis. Optio culpa molestiae nulla labore consequatur rerum cupiditate nobis aliquam!</p>
		</div>
	</div>
</div>

{% endblock %}